language: scala

scala:
   - 2.10.6
   - 2.11.8

jdk: 
   - oraclejdk8
   - oraclejdk7
   - openjdk7

env:
   - SCOVERAGE_DISABLE=true

matrix:
   include:
      - scala: 2.10.6
        jdk: oraclejdk8
        env: SCOVERAGE_DISABLE=false
      - scala: 2.12.0-RC1
        jdk: oraclejdk8
        env: SCOVERAGE_DISABLE=true
   exclude:
      - scala: 2.10.6
        jdk: oraclejdk8
        env: SCOVERAGE_DISABLE=true

install:
   - sbt update

script:
  - sbt -Dscoverage.disable=$SCOVERAGE_DISABLE ++$TRAVIS_SCALA_VERSION coverage test

after_success:
  - sbt -Dscoverage.disable=$SCOVERAGE_DISABLE ++$TRAVIS_SCALA_VERSION coverageReport coveralls
