language: scala

scala:
   - 2.10.6
   - 2.11.7

jdk: 
   - oraclejdk8
   - oraclejdk7
   - openjdk7

env:
   - SCOVERAGE_DISABLE=false

matrix:
   include:
      - scala: 2.12.0-M3
        jdk: oraclejdk8
        env: SCOVERAGE_DISABLE=true

script:
  - sbt -Dscoverage.disable=$SCOVERAGE_DISABLE ++$TRAVIS_SCALA_VERSION coverage test

after_success:
  - sbt -Dscoverage.disable=$SCOVERAGE_DISABLE ++$TRAVIS_SCALA_VERSION coveralls
