language: scala

scala:
   - 2.10.6
   - 2.11.7

jdk: 
   - oraclejdk8
   - oraclejdk7
   - openjdk7

script:
  - sbt ++$TRAVIS_SCALA_VERSION coverage test

after_success:
  - sbt ++$TRAVIS_SCALA_VERSION coveralls
