version: '3.1.{build}'
os: Windows Server 2012
install:
  - cmd: choco install sbt
  - cmd: choco install graphviz
  - cmd: refreshenv
  - cmd: sbt update
environment:
  matrix:
  - SCALA_VERSION: 2.10.6
    JAVA_HOME: C:\Program Files (x86)\Java\jdk1.7.0
    SBT_CROSS_TARGET: scala-2.10
  - SCALA_VERSION: 2.11.11
    JAVA_HOME: C:\Program Files (x86)\Java\jdk1.7.0
    SBT_CROSS_TARGET: scala-2.11
  - SCALA_VERSION: 2.12.3
    JAVA_HOME: C:\Program Files (x86)\Java\jdk1.8.0
    SBT_CROSS_TARGET: scala-2.12
build_script:
  - 'sbt "set scalacOptions in doc in Compile ++= Seq(""-diagrams-dot-path"", ""C:/Program Files (x86)/graphviz2.38/bin/dot.exe"")" "set publishTo := Some(Resolver.file(""file"", baseDirectory.value / ""publish""))" ++%SCALA_VERSION% compile publish'
test_script:
  # primary purpose is to package, but might as well test too, I guess.
  - cmd: 'sbt ++%SCALA_VERSION% test'
  - ps: |
      $wc = New-Object 'System.Net.WebClient'
      $files=get-childitem .\target\$($env:SBT_CROSS_TARGET)\test-results-junit
      foreach ($file in $files) {
        $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\target\$($env:SBT_CROSS_TARGET)\test-results-junit\$file))
      }
artifacts:
  - path: publish
    name: sbt_publish_directory
